
body{
font-family: sans-serif;
padding: 0%;
margin: 0%;
background-color: rgb(18, 13, 27);
}
.htag{
  color: azure;
}

.nav{
  
  height: 90px;
  color: #f8f4f4;
  /* background-color: rgb(18, 13, 27); */
  padding: 1%;
}
h1{
  margin-top: 5%;
  color: #6636c0;
  width: 100%;
  margin-bottom: 5%;  
}
.hedding{
 color: #f8f4f4;
 font-size: 30px;
}
h4{
  margin-top: 10%;
  margin-right: 4%;
}
h3{
  margin: 3%;
}
p{
  margin: 3%;
}
.tech{
  color: #6636c0;
}
.tech:hover{ 
font-size: 30px;
font-weight: bold;
}
.logo_name{
  color: #ffffff;
}
.logo_name:hover{
  color: #6636c0;
}
.logo{
  height: 42px;
  width: 190px;
}
.frame{
  height: 17px;
  width: 34px;
  margin-top: 12px;
}
.step{
  margin: 0%;
  padding: 0%;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.step1{
  display: flex;
  width: 30%;
  
}
/* .step2{
  color: #fdffff;
  height: 50px;
  width:100px;
  padding: 0%;
  margin-top: 20%;
  font-size: 40px;
  background-color: rgb(18, 13, 27);
  
} */

.step3{
  display: flex;
  justify-content: space-between;
}
.fist_btn{
  color: #fcfcfc;
  margin: 2%;
  background-color: rgb(18, 13, 27); 
  height: 50px;
  width:150px;
  border-radius: 10px;
  border-color: #f8f4f4;

}
.secound{
  margin: 2%;
  color: #ffffff;
  background-color: rgb(71, 43, 231);
  height: 50px;
  width: 150px;
  border-radius:  10px;
}
.font{
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.span_tag{
  color: #6636c0;
}

.background_shadow_left{
  position: absolute;
  width: 533px;
  height: 533px;
  left: 30%;
  margin-top: 0%;
  z-index: 1;
  
}
.background_shadow_right{
  position: absolute;
  width: 533px;
  height: 533px;
  left: 57%;
  margin-top: 0%;
  z-index: 1;
}

.card-img-top{
  height: 42px;
  width: 42px;
  margin: 2%;
  border-radius: 5px;
}
.card-body{
  
  padding: 0;
}
.card-one{
  display: flex;
  padding-right: 20%;
  justify-content:space-around ;
  
}
.row{
  margin: 10%;
  
  border: 2px solid #6636c0;
  border-radius: 10px;
  
}
.icon_card{
  display: flex;
  justify-content: space-between;
}


.containers{
  /* background-color: #f8f4f4; */
  width: 70%;
}
.product{
  width: 20%;
  margin-top: 100px;
  margin-bottom: 20%;
  margin: 0%;
  
  padding-top:4% ;
}
.card{
  margin: 0%;
  padding: 0%;
  width: 100%;
  
  
}
.card_icon{
  color: #fcfdfd;
  display: flex;
  justify-content: space-between;
  border-radius: 7PX;
  padding: 2PX;
  margin: 5PX;
  

}
.card_icon:hover{
  color: #6636c0;
}
.col_one{
  margin-top: 50px;
  
  
}
.scroll_bar_1{
  height: 386px;
  width: 6px;
  box-sizing: border-box;
  top: 150px;
  position: absolute;
  background: #19152D;
  border-radius: 30px;
  margin-left: 1%;
}
.scroll_bar_2{
  width: 8px;
  height: 78.75px;
  background: linear-gradient(180deg, #A357FB 0%, #6C38F8 100%);
  border-radius: 30px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.scroll_bar{
  
  margin-left: 4%;
  margin-right: 3%;
}

.icon{
  display: grid;
}

.icon_1{
  margin-top: 450px;
  height: 20.84px;
  width: 20px;
  
  
}

.icon_2{
  margin-top:20.84px;
  height: 20.84px;
  width: 20px;
}
.icon_3{
  margin-top: 20.84px;
  height: 20.84px;
  width: 20px;
}
.icon_4{
  margin-top: 20.84px;
  height: 20.84px;
  width: 20px;
}
.cms{
  display: flex;
  justify-content: space-between;
}
.card{
  padding: 2px;
  background-color: aqua;
  border-radius: 15px;
  
}

.cms{
  display: flex;
  justify-content: space-between;
}
.card_box{
  padding: 5px;
  margin-top: 10%;
  border-radius: 15px;
  border-width: 1px 6px 6px 1px;
  border-style: solid;
  border-color: #A357FB;
  border-radius: 10px;
  height: 200px;
  width: 389px;
}
.trade_logo{
  width: 50px;
  height: 50px;

  border: 1px solid #2F2753;
  border-radius: 10px;
}
.h_tag{
  padding: 0%;
  margin: 0%;
  color: #f8f4f4;
}

.cms_hadeing{
  color: #f8f4f4;
 
}
.cms_icon{
  color: #f8f4f4;
}


