
body{
font-family: sans-serif;
padding: 0%;
margin: 0%;
height: 946px;
background-color: rgb(18, 13, 27);
}
.htag{
  color: rgb(191, 197, 197);
  size: 100%;
  padding: 0%;
  margin: 0%;
  margin-bottom: 2%;
}

.nav{

  height: 90px;
  color: #f8f4f4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(18, 13, 27);
  padding: 20px;  

}
h1{
  margin-top: 5%;
  color: #6636c0;
  width: 100%;
  margin-bottom: 5%;
  padding: 2%;  
}
.hedding{
 color: #f8f4f4;
 font-size: 40px;
 padding: 0%;
}
h4{
  margin-top: 10%;
  margin-right: 4%;
}
h3{
  margin: 3%;
}
p{
  margin: 3%;
}

.logo_name{
  color: #ffffff;
}
.logo_name:hover{
  color: #6636c0;
}
.logo{
  height: 42px;
  width: 190px;
}
.frame{
  height: 17px;
  width: 34px;
  margin-top: 12px;
}
.step{
  margin: 0%;
  padding: 0%;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.step1{
  display: flex;
  width: 30%;
  
}
/* .step2{
  color: #fdffff;
  height: 50px;
  width:100px;
  padding: 0%;
  margin-top: 20%;
  font-size: 40px;
  background-color: rgb(18, 13, 27);
  
} */

.step3{
  display: flex;
  justify-content: space-between;
}
.fist_btn{
  color: #fcfcfc;
  margin: 2%;
  margin-left: 10%;
  background-color: rgb(18, 13, 27); 
  width: 168px;
  height: 58px;
  border-radius: 10px;
  border: 2px solid white;
  border-color: #f8f4f4;
  

}
.secound{
  margin: 2%;
  
  color: #ffffff;
  background-color: rgb(71, 43, 231);
  width: 168px;
  height: 58px;
  border-radius:  10px;
  border: none;
}

.btntwo{
  width: 168px;
  height: 58px;

  background-color: rgb(71, 43, 231);
  border-radius:  10px;
  border: none;
  color: #f8f4f4;
}
.btnone{
  width: 168px;
  height: 58px;

  color: #f8f4f4;
  background-color: rgb(18, 13, 27); 
  border-radius: 10px;
  border: 2px solid white ;
  margin-left: 10%;
  
}
.font{
  margin: 8%;
  padding: 0%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.span_tag{
  color: #6636c0;
}

.background_shadow_left{
  position: absolute;
  width: 40%;
  height: 60%;
  left: 32%;
  margin-top: 15%;
  z-index: 1;
  
}
.background_shadow_right{
  position: absolute;
  width: 40%;
  height: 60%;
  left: 59%;
  margin-top: 12%;
  z-index: 1;
}

.card-img-top{
  height: 42px;
  width: 42px;
  margin: 2%;
  border-radius: 5px;
}
.card-body{
  
  padding: 0;
}
.card-one{
  display: flex;
  padding-right: 20%;
  justify-content:space-around ;
  height: 100%;
  
}
.row{
  margin: 10%;
  
  border: 2px solid #6636c0;
  border-radius: 10px;
  
}
.icon_card{
  display: flex;
  justify-content: space-between;
}


.containers{
  /* background-color: #f8f4f4; */
  width: 70%;
}
.product{
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20%;
  margin: 0%;
  
  padding-top:10% ;
}
.card{
  margin: 0%;
  padding: 0%;
  width: 100%;
  
   
}
.card_icon{
  color: #fcfdfd;
  display: flex;
  justify-content: space-between;
  border-radius: 7PX;
  padding: 2PX;
  margin: 5PX;
  

}
.card_icon:hover{
  color: #6636c0;
}
.col_one{
  margin-top: 90px; 
  width: 70%;
  /* padding: 90px; */
  padding-bottom: 90%;
  margin-left: 6%;
}
.col_two{
  margin-top: 5%;
  margin-left: 10%;
  width: 70%;
  padding-bottom: 20%;
  margin-bottom: 90%;
}
.scroll_bar_1{
  margin-top: 0%;
  padding-top: 0%;
  height: 386px;
  width: 6px;
  box-sizing: border-box;
  
  position: absolute;
  background: #19152D;
  border-radius: 30px;
  margin-left: 10px;
  
}
.scroll_bar_2{
  margin-top: 0%;
  padding-top: 0%;
  width: 8px;
  height: 78.75px;
  background: linear-gradient(180deg, #A357FB 0%, #6C38F8 100%);
  border-radius: 30px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-top: 0%;
}
.scroll_bar{
  margin-top: 0%;
  padding-top: 0%;
  position: fixed;
  left: 0;
  right: 0;
  width: 94px;
  height: 946px;
  margin-left: 4%;
  margin-right: 3%;
  
  
}

.icon{
  margin-top: 0%;
  padding-top: 0%;
  margin-top: 100px;
  display: grid;
  width: 50px;
  margin-left: 4px;
  
}

.icon_1{
  padding-top: 0%;
  margin-top: 300px;
  height: 20.84px;
  width: 20px;
  
  
}

.icon_2{
  margin-top:20.84px;
  height: 20.84px;
  width: 20px;
}
.icon_3{
  margin-top: 20.84px;
  height: 20.84px;
  width: 20px;
}
.icon_4{
  margin-top: 20.84px;
  height: 20.84px;
  width: 20px;
  
}
.cms{
  display: flex;
  justify-content: space-between;
}


.cms{
  display: flex;
  justify-content: space-between;
}
.card_box{
  padding: 5px;
  margin-top: 10%;
  border-radius: 15px;
  border-width: 1px 6px 6px 1px;
  border-style: solid;
  border-color: #A357FB;
  border-radius: 10px;
  height: 250px;
  width: 100%;
}
.trade_logo{
  width: 50px;
  height: 50px;

  border: 1px solid #2F2753;
  border-radius: 10px;
}
.h_tag{
  padding: 0%;
  margin: 0%;
  color: #d0d4d4;
  text-size-adjust: 20%;
}

.cms_hadeing{
  color: #f8f4f4;
  padding: 0%;
 
}
.cms_icon{
  color: #f8f4f4;
  margin: 4%;

}
.btn{
  height: auto;
  width: 100%;
  display: flex;
  
}


